doctype 5
html(lang="en")
head
  title= pageTitle
  script(src="/socket.io/socket.io.js")
  script(src="/public/js/app.js", data-hostname=hostname)
body
  ul(id="pictures")
    each pic in pictures
      li
        img(src=pic.src)
